body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.app-header {
  background-color: #0077b6;
  padding: 20px;
  text-align: center;
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.app-title {
  font-size: 36px;
  margin: 0;
}

.app-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.app-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #999;
}



.entry-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entry-textarea {
  width: 97%;
  min-height: 200px;
  resize: none;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: #333;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.submit-btn {
  background-color: #0077b6;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.submit-btn:hover {
  background-color: #023e8a;
}

.diary-entry {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 40px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.entry-date {
  color: #0077b6;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.entry-text {
  color: #333;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}